/* ============= all fonts are here ============= */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v14-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/rubik-v14-latin_cyrillic-500.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v14-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/rubik-v14-latin_cyrillic-regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rubik-v14-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/rubik-v14-latin_cyrillic-700.woff') format('woff');
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik';
    padding: 0;
    margin: 0;
    font-size: 16px;    
}

img {
    vertical-align: middle;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.header {
    padding: 42px 0;
    background-color: #F6F6F9;
    
}

.logo {
    padding: 5px 10px;
    margin: 0;
    background-color: #ffffff;
    border-radius: 5px;
}

.logo_link {
    text-decoration: none;
    color: #295091;
    font-size: 28px;
    font-weight: 700;
}

.header .container, .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.money_list {
    list-style-type: none;
    display: flex;
    width: 260px;
    justify-content: space-between;
    color: #7A7A7A;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 17px;
}

.money_list_item span {
    color: #295091;
    font-weight: bold;
}

.tg_link {
    text-decoration: none;
    padding: 11px 33px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #1E96C8, #37AEE2);
    transition: 0.3s;
}

.tg_link:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.tg_link:active {
    opacity: 1;
}

.tg_link i {
    font-weight: 400;
}

.cta {
    background-color: #F6F6F9;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.nav_list {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 18px;
    padding: 0 21px;
    
}

.nav_link {
    text-decoration: none;
    color: #515151;
    font-weight: bold;
    
}

.nav_list_item {
    padding: 21px 0;
    border-top: 1px solid #ffffff;
    
}

.nav_list_item:hover {
    border-top: 1px solid #295091;
}


.ad_image {
    display: block;
    width: 100%;
}

.corona_cancers {
    display: flex;
    justify-content: space-between;
    padding: 44px;
    background-color: #F6F6F9;
    margin-bottom: 20px;
}

.corona_cancers_heading {
    margin: 0;
    padding: 0;
    width: 400px;
    display: flex;
}

.corona_cancers_heading::before {
    content: '';
    width: 70px;
    height: 50px;
    margin-right: 20px;
    background-image: url('/pictures/corona.svg');
    background-size: cover;
}

.corona_cancers_heading::after {
    content: '';
    width: 3px;
    height: 50px;
    background-color: #eb586c;
}

.corona_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 420px);
}

.corona_list_item:nth-child(1)::before {
    display: inline-block;
    content: '';
    width: 40px;
    height: 40px;
    background-image: url('/pictures/infected.svg');
    background-size: cover;
}

.corona_list_item:nth-child(1)::after {
    display: inline-block;
    content: '';
    width: 2px;
    height: 40px;
    background-color: #F4CCD1;
    margin-left: 35px;
}

.corona_list_item_box {
    margin-left: 10px;
    display: inline-block;
}

.corona_category {
    color: #eb586c;
    display: block;
}

.corona_list_item:nth-child(2)::before {
    display: inline-block;
    content: '';
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-image: url('/pictures/recovered.svg');
    background-size: cover;
}

.corona_list_item:nth-child(2)::after {
    display: inline-block;
    content: '';
    width: 2px;
    height: 40px;
    background-color: #F4CCD1;
    margin-left: 35px;
}

.corona_list_item:nth-child(3)::before {
    display: inline-block;
    content: '';
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-image: url('/pictures/death.svg');
    background-size: cover;
}

.hot_news_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hot_news_list_item {
    width: 350px;
}

.hot_news_link {
    text-decoration: none;
    color: #000000;
}

.hot_news_heading {
    margin: 11px 0;
    padding: 0;
}

.hot_news_time {
    display: inline-block;
    margin: 0 0 18px 0;
    color: #6B6D97;
}

.notification {
    padding: 20px;
    background-color: #fcf3e0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.notification_heading {
    font-size: 20px;
    margin: 0;
    margin-right: 150px;
}

.notification::before {
    content: '';
    display: inline-block;
    width: 31px;
    height: 35px;
    background-image: url(/pictures/notification.svg);
    background-size: cover;
    margin: auto 20px;
}

.notification_button {
    padding: 10px 20px;
    background-image: linear-gradient(to right, #ff7434 , #ff9547);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: bold;
}

.all_news .container, .politics .container {
    display: flex;
    margin-bottom: 30px;
}

.all_news_left {
    width: 65%;
}

.all_latest_news_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.all_latest_news_list_item {
    margin-bottom: 20px;
}

.all_latest_news_link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.all_latest_news_list_box {
    margin-left: 20px;
}

.all_latest_news_list_heading {
    margin: 0;
    padding: 0;
    color: #000000;
    margin-bottom: 10px;
}

.all_latest_news_list_paragraph {
    margin: 0;
    padding: 0;
    color: #434343;
    margin-bottom: 10px;
}

.all_latest_news_list_time {
    color: #7688A4;
}

.all_latest_news_list_time::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 20px;
    vertical-align: -25%;
    background-image: url(/pictures/calendar.svg);
    background-size: cover;
}


.more_news {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #295091;
    border-radius: 5px;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.all_news_right {
    width: 34%;
    margin-top: 20px;
    border-radius: 5px;
}

.popular_news {
    margin: 0;
    margin-bottom: 20px;
}

.popular_news_list {
    background-color: #F6F6F9;
    padding: 20px;
    margin: 0;
    list-style-type: none;
    margin-bottom: 20px;
}

.popular_news_link {
    text-decoration: none
}

.popular_news_paragraph {
    margin: 0;
    margin-bottom: 15px;
    color: #000000;
}

.apps {
    background-color: #F6F6F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 30px;
}

.apps_heading {
    color: #295093;
}

.apps_box {
    width: 450px;
}


.footer {
    background-color: #295093;
    padding: 20px 0;
}

.footer_top_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_top_paragraph {
    margin-left: 50px;
    color: #ffffff;
}

.footer .tg_link {
    color: #295093;
    background-color: #ffffff;
    background-image: none;
}

.footer .tg_link:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.footer_bottom_box {
    display: flex;
}

.footer_bottom_box_paragraph {
    width: 400px;
    color: #ffffff;
}

.footer_bottom_span {
    display: block;
    margin-bottom: 15px;
}

.footer_bottom_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 0 0 0 100px;
    padding: 20px;
}

.footer_bottom_list_item {
    width: 225px;
}

.footer_bottom_link {
    text-decoration: none;
    color: #ffffff;
}

/* sardoba page */


.president .container {
    display: flex;
}

.president_image {
    margin-top: 20px;
}

.president_words {
    margin: 0;
    font-weight: 500;
}

.hashtags_span {
    display: block;
    margin: 40px 0;
    color: #28508E;
}

.empty_box {
    margin-bottom: 20px;
}

.contact .container {
    display: flex;
    justify-content: space-between;
}

.contact_form {
    width: 50%;
}

.user_input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #94a7bc;
    background-color: #F6F6F9;
}

.textarea {
    width: 100%;
    height: 250px;
    resize: none;
}

.user_file_label {
    display: block;
    max-width: 45%;
    background-color: #F6F6F9;
    border: 2px solid #94a7bc;
    border-radius: 5px;
    padding: 10px 40px;
    color: #94a7bc;
    margin-bottom: 20px;
}

.user_file_label::after {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: -25%;
    background-image: url(/pictures/file_icon.svg);
}

#user_password {
    width: 45%;
}

.button {
    background-color: #295093;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 40px;
    width: 45%;
}

#logo_link_bottom {
    display: block;
    margin-bottom: 30px;
    text-align: right   ;
}

.contact_right_box {
    width: 45%;
    border: 2px solid #94a7bc;
    border-radius: 5px;
    padding: 25px;
    color: #888888;
    margin-top: 60px;
    height: 350px;
    box-shadow: -5px 15px 7px 5px #aaaaaa;
}

.contact_right_box_content {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_right_box_content_email {
    text-decoration: none;
    color: #94a7bc;
}

.contact_right_box_socials {
    margin-right: 5px;
}